---
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="私のホームページ">
	<PageHeader />
	<p>ようこそ私のホームページへ!</p>
	<a href="/about">About</a>
</Layout>

<style>
	p {
		font: 1.5rem;
		text-align: center;
	}

	a{
		display: block;
		width: 200px;
		margin: 0 auto;
		text-align: center;
		margin-top: 20px;
		color: #178474;
		text-decoration: none;
		font-weight: bold;
		font-size: 1.5rem;
		background-color: #fff;
		padding: 10px 20px;
		border-radius: 45px;
		box-shadow: 0 0 10px rgba(170, 233, 225, 0.1);
		transition: all 0.3s ease;
		cursor: pointer;

		&:hover{
			background-color: #178474;
			color: #fff;
		}
	}
</style>