---
import logo from '../assets/seal.png';
---

<header>
  <img src={logo.src} width={logo.width} height={logo.height} alt="logo" />
  <h1>My Portfolio</h1>
</header>

<style>
  header {
    background: linear-gradient(to right, #42888a, #50bb9b);
    clip-path: ellipse(40% 160% at 50% -60%);
    color: #fff;
    padding: 30px 0 45px;
    text-align: center;
  }

  h1 {
    font-size: 2rem;
    word-spacing: 0.05em;
    margin: 0;
  }

  img {
    width: 100px;
    height: 100px;
  }
</style>